## Transformation
Droppinng Rows and Columns

In [1]:
import pandas as pd 
import numpy as np

from pandas import Series,DataFrame

In [4]:
df_obj = DataFrame(np.arange(100).reshape(20,5), columns=['A', 'B', 'C', 'D', 'E'])

In [5]:
print(df_obj)

     A   B   C   D   E
0    0   1   2   3   4
1    5   6   7   8   9
2   10  11  12  13  14
3   15  16  17  18  19
4   20  21  22  23  24
5   25  26  27  28  29
6   30  31  32  33  34
7   35  36  37  38  39
8   40  41  42  43  44
9   45  46  47  48  49
10  50  51  52  53  54
11  55  56  57  58  59
12  60  61  62  63  64
13  65  66  67  68  69
14  70  71  72  73  74
15  75  76  77  78  79
16  80  81  82  83  84
17  85  86  87  88  89
18  90  91  92  93  94
19  95  96  97  98  99

In [7]:
df_obj.drop([16,17,19],
             axis=0)

     A   B   C   D   E
0    0   1   2   3   4
1    5   6   7   8   9
2   10  11  12  13  14
3   15  16  17  18  19
4   20  21  22  23  24
5   25  26  27  28  29
6   30  31  32  33  34
7   35  36  37  38  39
8   40  41  42  43  44
9   45  46  47  48  49
10  50  51  52  53  54
11  55  56  57  58  59
12  60  61  62  63  64
13  65  66  67  68  69
14  70  71  72  73  74
15  75  76  77  78  79
18  90  91  92  93  94

In [8]:
df_obj.drop(['C', 'E'],axis=1)

     A   B   D
0    0   1   3
1    5   6   8
2   10  11  13
3   15  16  18
4   20  21  23
5   25  26  28
6   30  31  33
7   35  36  38
8   40  41  43
9   45  46  48
10  50  51  53
11  55  56  58
12  60  61  63
13  65  66  68
14  70  71  73
15  75  76  78
16  80  81  83
17  85  86  88
18  90  91  93
19  95  96  98

In [14]:
# lets look on adding those data.

series_obj = Series(np.arange(20), name= "SeriesA")

In [15]:
series_obj

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
Name: SeriesA, dtype: int64

In [16]:
variable_added = DataFrame.join(df_obj,series_obj)

In [17]:
print(variable_added)

     A   B   C   D   E  SeriesA
0    0   1   2   3   4        0
1    5   6   7   8   9        1
2   10  11  12  13  14        2
3   15  16  17  18  19        3
4   20  21  22  23  24        4
5   25  26  27  28  29        5
6   30  31  32  33  34        6
7   35  36  37  38  39        7
8   40  41  42  43  44        8
9   45  46  47  48  49        9
10  50  51  52  53  54       10
11  55  56  57  58  59       11
12  60  61  62  63  64       12
13  65  66  67  68  69       13
14  70  71  72  73  74       14
15  75  76  77  78  79       15
16  80  81  82  83  84       16
17  85  86  87  88  89       17
18  90  91  92  93  94       18
19  95  96  97  98  99       19

## Sorting Data

In [30]:
df_sorted = variable_added.sort_values(by=['A'], ascending=[False])

In [31]:
print(df_sorted)

     A   B   C   D   E  SeriesA
19  95  96  97  98  99       19
18  90  91  92  93  94       18
17  85  86  87  88  89       17
16  80  81  82  83  84       16
15  75  76  77  78  79       15
14  70  71  72  73  74       14
13  65  66  67  68  69       13
12  60  61  62  63  64       12
11  55  56  57  58  59       11
10  50  51  52  53  54       10
9   45  46  47  48  49        9
8   40  41  42  43  44        8
7   35  36  37  38  39        7
6   30  31  32  33  34        6
5   25  26  27  28  29        5
4   20  21  22  23  24        4
3   15  16  17  18  19        3
2   10  11  12  13  14        2
1    5   6   7   8   9        1
0    0   1   2   3   4        0

In [33]:
df_sorted = variable_added.sort_values(by=['SeriesA'], ascending=[False])

In [34]:
print(df_sorted)

     A   B   C   D   E  SeriesA
19  95  96  97  98  99       19
18  90  91  92  93  94       18
17  85  86  87  88  89       17
16  80  81  82  83  84       16
15  75  76  77  78  79       15
14  70  71  72  73  74       14
13  65  66  67  68  69       13
12  60  61  62  63  64       12
11  55  56  57  58  59       11
10  50  51  52  53  54       10
9   45  46  47  48  49        9
8   40  41  42  43  44        8
7   35  36  37  38  39        7
6   30  31  32  33  34        6
5   25  26  27  28  29        5
4   20  21  22  23  24        4
3   15  16  17  18  19        3
2   10  11  12  13  14        2
1    5   6   7   8   9        1
0    0   1   2   3   4        0

## Apply

In [35]:
df = pd.DataFrame({
    'Product': ['A', 'B', 'C', 'D', 'E'],
    'Price': [100, 200, 300, 400, 500]
})
# giving 10% Discount
df['Discount_on_MRP'] = df['Price'].apply(lambda x:x*0.1)
df['Selling_price'] = df['Price'].apply(lambda x:x*0.9)

In [36]:
print(df)

  Product  Price  Discount_on_MRP  Selling_price
0       A    100             10.0           90.0
1       B    200             20.0          180.0
2       C    300             30.0          270.0
3       D    400             40.0          360.0
4       E    500             50.0          450.0

In [39]:
df['Bifurcation'] = df['Price'].apply(lambda x:'High Price' if x>250  else 'Low Price')

In [40]:
print(df)

  Product  Price  Discount_on_MRP  Selling_price Bifurcation
0       A    100             10.0           90.0   Low Price
1       B    200             20.0          180.0   Low Price
2       C    300             30.0          270.0  High Price
3       D    400             40.0          360.0  High Price
4       E    500             50.0          450.0  High Price

In [41]:
# more on upcoming Lectures